.site-title {
    font-family: pacifico;
  }

.landing-content {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

.monkey-logo {
    padding-top: 5%;
    filter: invert(62%) sepia(9%) saturate(506%) hue-rotate(165deg) brightness(97%) contrast(94%);
    margin: 45px;
}