@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: 720px) {
  .nav-mobile {
    color: #000;
  }

  .about-content {
    padding-bottom: 50px;
  }


  footer > svg {
    height: 20em;
  }
}