body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-logo {
  width: 72px;
  height: 48px;
  margin: 10px 0px 0px 25px;
  background-color: #fff;
}

main {
  flex: 1 0 auto;
}

.about-content {
  margin: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer > div {
 position: relative;
 z-index:10;
}

footer > svg {
  display: block;
  z-index: -1;
}