body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-logo {
  width: 72px;
  height: 48px;
  margin: 10px 0px 0px 25px;
}

.nav-list:hover {
  background-color: #ff3649;
}

.nav-list .nav-link:hover {
  color: #fff;
}

.nav-link {
  color: #000;
}

main {
  flex: 1 0 auto;
  padding-bottom: 48px;
}

.store-btn {
  padding-top: 2.5px;
  margin-right: 18px;
}

.landing-content {
  margin: 15px;
}

.about-content {
  margin: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer > div {
  position: relative;
  z-index: 10;
}

footer > svg {
  display: block;
  z-index: -1;
}

@media only screen and (max-width: 720px) {
  .nav-logo {
    width: 48px;
    height: 38px;
  }

  .nav-mobile {
    color: #000;
  }
}
